* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
  background-color: #0a3940;
  color: #fff;
  transition: opacity 0.4s ease;
}

.main-content {
  flex: 1;
  padding: 40px 60px;
}

.message-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #196d708e;
  color: rgb(255, 255, 255);
  padding: 20px 40px 20px 40px;
  margin-bottom: 1px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(25, 138, 138);
  margin-top: 10px;
}

.message-item:last-child {
  margin-bottom: 0;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.number {
  font-size: 22px;
  font-weight: bold;
  margin-left: 40px;
}

.email {
  font-size: 18px;
  margin-left: 40px;
}

.view-button {
   padding: 0.9rem 2rem;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: all .3s;
  color: #0a3940;
   background-color: #d0d0d0;
}

.view-button:hover {
   background-color: #d0d0d096;
  color: #0a3940;
}

.loan-request-body {
  border: 1px solid #1a4f5a;
  border-radius: 12px;
  padding: 50px;
  margin-left: 400px;
  background-color: rgba(26, 79, 90, 0.2);
  height: 750px;
  width: 1100px;
}

.page-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #fff;
}